/* Base styling */
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Navbar */
nav {
  display: grid;
  grid-template-columns: 20vw 50vw 30vw;
  align-items: center;
  height: 10vh;
}

#nav-list {
  display: none;
}

nav h1 {
  font-weight: 900;
  font-size: 2em;
}

.nav-items {
  padding: 10px;
}

.nav-items:hover {
  background-color: #d86c2c;
  color: white;
}

.nav-items:focus {
  outline: 2px solid #d86c2c;
}

div {
  display: flex;
  justify-content: center;
  margin: 0 30px;
  gap: 30px;
}

nav img {
  width: 40px;
}

nav a {
  text-decoration: none;
  color: gray;
}

/* Divider */
hr {
  width: 80%;
  color: gray;
}

/* Product view */
.product-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
}

/* Thumbnail images */
.thumbnail {
  height: 80px;
  transition: filter 0.3s ease;
}

.first-thumb {
  filter: brightness(0.5);
}

.thumbnail:hover {
  filter: brightness(0.8);
}

section img {
  height: 500px;
  border-radius: 20px;
}

/* Left and Right Containers */
.left-container {
  display: grid;
  justify-content: flex-end;
  margin-top: 150px;
}

.right-container {
  margin-top: 200px;
}

.box-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto 1fr;
  justify-content: flex-start;
  gap: 0px;
}

/* Quantity input */
input {
  height: 40px;
  width: 100px;
  text-align: center;
}

.box-container div {
  display: flex;
  justify-content: flex-start;
}

.btn {
  padding: 10px 70px;
  background-color: #d86c2c;
  text-decoration: none;
  color: white;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s ease;
}

.btn:hover {
  filter: brightness(0.9);
}

.btn:focus {
  outline: 2px solid #d86c2c;
}

.btn::before {
  content: url(ecommerce-product-page-main/images/icon-cart.svg);
  color: white;
  margin-right: 10px;
}

h3 {
  color: #d86c2c;
}

.inl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

#discount {
  color: #d86c2c;
  padding: 1px;
  background-color: #e9c5b0;
}

.old-price {
  margin-top: 0px;
  text-decoration: line-through;
  color: gray;
}

.inputs {
  margin: 0;
}

/* Responsive styling */
@media screen and (max-width:992px) {
  .product-container {
      display: grid;
      grid-template-columns: 80%;
      grid-template-rows: auto auto;
  }
}

@media screen and (max-width:768px) {
  .product-container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
  }

  nav {
      display: none;
  }

  #nav-list {
      display: block;
      position: absolute;
      top: 50px;
      left: 40px;
  }

  .left-container {
      width: 100%;
      padding: 0 10px;
  }

  .big-image {
      display: flex;
      justify-content: center;
  }

  .big-image img {
      width: 80%;
      max-height: 300px;
  }

  .small-images a {
      width: 15%;
  }
}
